.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: 0 1rem;
    padding: 2rem 0.5rem 1rem;
    border-bottom: 1px solid #c5d0d1;
  
    &__controls { display: flex }
  
    &__icon {
      width: 1rem;
      height: 1rem;
      fill: currentColor;
    }
  
    &__label {
      position: relative;
      margin-left: 1rem;
      text-transform: capitalize;
      cursor: pointer;
  
      &::after {
        content: '\00d7';
        display: inline-block;
        color: transparent;
        width: 0.5rem;
        font-weight: 400;
        transform: scale(0);
        transition: transform 150ms ease-in-out;
      }
  
      &--clear {
        color: #f68185;
        opacity: 0;
        transform: translate3d(-25%, 0, 0);
        pointer-events: none;
        transition: all 275ms ease-in-out;
      }
  
      &--filter ~ &--clear {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
      }
  
      &--filter::after,
      &--active::after { transform: scale(1) }
  
      &--filter::after {
        content: '\2022';
        color: #46d2c4;
      }
  
      &--active::after {
        content: '\00d7';
        color: #f68185;
      }
    }
  }
  .filter-tag{
    display: flex;
    flex-direction: row;
    &__button{
        padding: 10px;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        color: #666;
        cursor: pointer;
        margin: 5px;
    }
  }
