@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Variables*/
$gray0: #F6F8FF;
$transition: all .3s;
$primary: #636983;
$borderRadius: 5px;
$colorText: #ffffff;
$main: #48c188;


body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
  }

  .content{
    display:grid;
    place-items: center;
    margin: 0;
    color: #3a334e;
    animation: rotate 1s infinite alternate linear;
    height: 100vh;
    }
    .login-card{
        width: 400px;
        padding: 100px 30px 64px;
        border-radius: 1.25rem;
        background-color: #ffffff;
        text-align: center;
        margin: 0 auto;
    }
  